/* Global variables */
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Nunito:wght@600&family=Poppins:wght@500&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-style: normal;
  color: #515151;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

p {
  font-size: 1.6rem;
}

/* Scroll bars */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 7.4rem;
}

/* Header styling */

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
}

.nav {
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  display: flex;
  width: 30%;
  justify-content: space-around;
  font-size: 1.8rem;
  margin-top: 2.2rem;
}

.logo {
  margin-top: 4.4rem;
  color: grey;
}

.hamburger {
  display: none;
}

.nav-item a {
  position: relative;
  font-size: 2.2rem;
}
.nav-item a,
.nav-item a::after,
.nav-item a::before {
  transition: all 0.4s;
}

.nav-item a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; /* start from center */
  width: 0%;
  background: rgb(227, 27, 109);
  height: 2px;
}

.nav-item a:hover::after {
  width: 100%;
}

.nav-item-home a:hover {
  color: rgb(54, 163, 140);
}

.nav-item a :visited {
  color: rgb(54, 163, 140);
}

.home {
  width: 100%;
  height: 100vh;
  background: url("images/circuit.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2.4rem;
  color: white;
  letter-spacing: 2px;
  font-weight: 100;
}

.home-portfolio {
  /* background: url("images/bg-masthead.jpg") center no-repeat;
  background-size: cover; */
  background: rgb(255, 255, 0);
}

.portfolio-headline {
  color: black;
  font-size: 11.3rem;
  font-family: adobe-garamond-pro, serif;
  font-weight: 550;
  font-style: bold;
}

.arrow-down {
  padding-top: 10.4rem;
  height: 10rem;
  color: black;
  animation: down 2s infinite;
}
.arrow-down-two {
  padding-top: 10.4rem;
  height: 10rem;
  color: white;
  animation: down 2s infinite;
}

.my-name {
  padding-top: 3.2rem;
  font-size: 3.3rem;
  color: black;
  font-family: adobe-garamond-pro, serif;
  font-weight: 550;
  font-style: bold;
}

.portfolio-link {
  color: black;
  font-size: 2.3rem;
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-style: bold;
  transition: 0.5s all ease;
}

.portfolio-link:hover {
  color: black;
  font-size: 2.3rem;
  font-family: adobe-garamond-pro, serif;
  font-weight: 550;
  font-style: bold;
}

.p-header {
  background-image: none;
}

.github {
  color: rgb(54, 163, 140);
}

.home .name {
  color: rgb(54, 163, 140);
}

.hero {
  background: white;
  height: 170vh;
}
.hero-one {
  height: 65vh;
  width: 100%;
}

.small-avatar {
  text-align: center;
  padding-top: 6.4rem;
}

.small-round-avatar {
  padding-top: 6.2rem;
}

.whiteboard {
  font-size: 5.2rem;
  color: rgb(124, 78, 37);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn;
  animation-duration: 10s;
  --animate-repeat: 3;
}

.icon-frame {
  margin-top: 6.2rem;
  padding: 2.6rem;
  margin-left: 0.2rem;
  background: rgb(238, 239, 240);
  border-radius: 50%;
  width: 10.2rem;
  height: 10.2rem;
}

.asterisk {
  font-size: 4.4rem;
  color: rgb(163, 162, 236);
  padding: 0;
  opacity: 0.8;
  animation: spin 3s infinite linear;
}

.astk {
  animation: spins 3s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    opacity: 0.9;
    transform: rotate(359deg);
  }
}
@keyframes spins {
  0% {
    transform: rotate(0deg);
  }
  100% {
    opacity: 0.9;
    transform: rotate(-359deg);
  }
}

.aste-frame {
  padding-top: 2.2rem;
}

.asterisk-two {
  padding-top: 2.2rem;
}

.aste-dots {
  margin-top: 1.2rem;
  font-size: 2.2rem;
  color: rgb(233, 227, 227);
}
.hi {
  text-align: center;
  margin-top: 3.4rem;
  font-size: 3.2rem;
  color: black;
  font-weight: 100;
}

.text {
  margin: 0 auto;
  text-align: center;
  width: 70%;
  margin-top: 3.4rem;
  letter-spacing: 0px;
  line-height: 3.2rem;
  font-weight: 200;
}

.soul {
  font-size: 2.8rem;
  font-weight: 500;
  color: black;
  letter-spacing: 0.2;
  line-height: 140%;
  padding-top: 2.4rem;
}

.soul-two {
  line-height: 120%;
  letter-spacing: 0.1px;
  font-size: 2.5rem;
}

.line {
  margin: 0 auto;
  text-align: center;
  font-size: 3.2rem;
  letter-spacing: 5px;
  margin-top: 4.4rem;
  color: rgb(165, 156, 156);
  opacity: 0.2;
}
.hero-two {
  height: 80vh;
}

.first {
  text-align: center;
  padding-top: 4.4rem;
  font-size: 3.2rem;
  color: black;
  font-weight: 400;
}

.what-i-can-do {
  padding-top: 4.4rem;
}

.what-you-want,
.what-you-need {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
  margin-top: 5.4rem;
  letter-spacing: 1.2px;
}

.right-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 4.4rem;
}

.top-text {
  margin-bottom: 2.4rem;
  font-size: 3.2rem;
  color: rgb(31, 29, 29);
  font-weight: 550;
}

.left-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 4.4rem;
}

/* Portfolio */

.portfolio {
  height: 90vh;
  background: black;
}

.work {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8.4rem;
}

.some-work {
  text-align: center;
  padding-top: 4.4rem;
  font-size: 3.2rem;
  color: rgb(69, 178, 154);
  letter-spacing: 2px;
}

.some-work-text {
  text-align: center;
  margin: 0 auto;
  margin-top: 4.4rem;
  width: 45%;
}

.some-work-text p {
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 3.2rem;
  color: white;
}

/* Projects */

.project {
  height: 150vh;
}

.apple {
  background: rgb(4, 247, 153);
  padding-top: 4.4rem;
}

.frame {
  width: 945px;
  height: 740px;
  border: 1px solid rgb(17, 17, 17);
  border-radius: 10px;
  background: rgb(17, 17, 17);
  margin: auto;
  padding: 15px 25px;
  padding-top: 25px;
}

.apple-headline {
  text-align: center;
  padding-top: 2.4rem;
  font-size: 3.2rem;
  letter-spacing: 1.2px;
  color: black;
}

.budget-headline {
  padding-top: 10.4rem;
}

.text-description {
  text-align: center;
  margin: 0 auto;
  margin-top: 4.4rem;
  width: 65%;
  font-size: 2.2rem;
  color: white;
  letter-spacing: 1px;
}

.apple-description,
.hotel-description,
.budget-description {
  color: black;
  letter-spacing: 0.1;
}

.budget-description {
  padding-top: 4.4rem;
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.2rem;
  padding: 1.5rem;
  cursor: pointer;
}

.cta {
  width: 14rem;
  height: 4.4rem;
  color: white;
  background: black;
  outline: none;
  border: 1px solid black;
  border-radius: 2.5px;
  cursor: pointer;
  transition: 0.5s ease all;
}

.rosa {
  background: rgb(247, 97, 96);
  padding-top: 4.4rem;
}

.rosa-frame {
  width: 720px;
  height: 800px;
  border: 1px solid rgb(30, 47, 70);
  border-radius: 10px;
  background: rgb(30, 47, 70);
  margin: auto;
  padding: 15px 25px;
  padding-top: 25px;
}

.budget {
  background: rgb(49, 53, 91);
  padding-top: 4.4rem;
}

.first-image {
  border-radius: 2.5px;
}

.cta-budget {
  background-color: black;
}

.budget-btn {
  padding-top: 4.4rem;
}

.pomodoro {
  background: url("images/pomodoro.png") center no-repeat;
  background-size: cover;
  height: 100vh;
}

.preview-pomodoro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.cta-pomodoro {
  margin-top: 85vh;
}

.conclusion {
  text-align: center;
  margin-top: 8.4rem;
}

/* Others section */

.others {
  background: rgb(103, 152, 149);
  height: 160vh;
}

.box1,
.box2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.box1 img {
  padding-left: 2.2rem;
  height: 350px;
  padding-top: 4.4rem;
}

.box2 {
  padding-top: 4.4rem;
}

.box2 img {
  padding-left: 2.2rem;
  height: 350px;
  width: 400px;
  padding-top: 4.4rem;
}

.project-name {
  text-align: center;
  font-size: 2.2rem;
  padding-top: 1.8rem;
  color: black;
}

/* Tech stack */

.second-container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 7.4rem;
}

.tech-stack {
  background: black;
  height: 85vh;
  padding-top: 8.4rem;
}

.portfolio-stack {
  background: black;
}

.headline {
  text-align: center;
  margin-top: 0.4rem;
  font-size: 3.2rem;
  color: rgb(35, 165, 137);
  font-weight: 400;
  padding: 6.4rem;
}

.skills-innerbox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4.4rem;
  font-size: 5.4rem;
}

.skills-icon {
  padding-left: 8.4rem;
  transition: 0.4s ease;
}

.skills-icon:hover {
  transform: scale(1.2);
}

/* Contact section */

.contact {
  height: 65vh;
}

.note-title {
  text-align: center;
  padding-top: 8.4rem;
  color: black;
  font-size: 4.2rem;
  letter-spacing: 1.2px;
}

.note-subtitle {
  text-align: center;
  font-size: 2.2rem;
  letter-spacing: 1.2px;
  color: black;
  padding-top: 4.4rem;
}

.note {
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  padding-top: 4.4rem;
  width: 50%;
  line-height: 3.2rem;
}

.message-me {
  text-align: center;
  margin-top: 4.4rem;
}

.message-btn {
  height: 4.4rem;
  width: 16rem;
  background: black;
  border: 1px solid black;
  border-radius: 2.5px;
  transition: 0.5s ease all;
}

.cta:hover,
.message-btn:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.icon-btn a {
  padding-bottom: 1.2rem;
}

/* Back to top */

.go-home {
  text-align: center;
}

.chev {
  font-size: 4.2rem;
  color: black;
  animation: up 2s infinite;
}

@keyframes up {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-1rem);
  }
}
@keyframes down {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(1rem);
  }
}

/* Footer */

.footer {
  height: 22.5vh;
  background-color: black;
}

.portfolio-footer {
  background: black;
}

.footer a {
  text-decoration: none;
  color: rgb(69, 178, 154);
}

.footer ul {
  list-style: none;
  color: rgb(69, 178, 154);
  padding-top: 5.2rem;
}

.footer-items {
  text-align: center;
  display: flex;
  margin: 0 auto;
  width: 40%;
  justify-content: space-around;
  margin-top: 2.2rem;
  font-size: 1.6rem;
}

.copyright {
  text-align: center;
  margin-top: 5.2rem;
  color: rgb(69, 178, 154);
}

.copy-note {
  font-size: 1.4rem;
}

.menu-avatar {
  display: none;
}

.what-you-need-menu {
  display: none;
}
.menu-top-text,
.soul-two-menu {
  display: none;
}

.first-animation {
  display: flex;
}

.dots {
  margin-top: 9.2rem;
  font-size: 2.2rem;
  color: rgb(233, 227, 227);
}

.nav-list-mobile {
  display: none;
}

.apple-small,
.rosa-small,
.budget-small,
.small-banger-div {
  display: none;
}

/* Mobile responsiveness  */

@media screen and (max-width: 768px) {
  html {
    scroll-behavior: smooth;
  }

  /* Scroll bars */

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: none;
    background-color: none;
  }

  ::-webkit-scrollbar {
    width: none;
    background-color: none;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: none;
    -webkit-box-shadow: none;
    background-color: none;
  }

  header {
    height: 4.8rem;
    transition: background 0.36s cubic-bezier(0.32, 0.08, 0.24, 1),
      height 0.56s cubic-bezier(0.32, 0.08, 0.24, 1);
  }

  .header .container {
    padding: 0;
  }

  .nav-list {
    margin-top: 0;
  }

  .nav-list-mobile {
    display: flex;
  }

  .nav-item {
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
  }

  .home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
      url("images/header-bg.png") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2.4rem;
    color: white;
    letter-spacing: 2px;
    font-weight: 100;
  }

  .logo {
    display: none;
  }

  .mobile-menu {
    position: relative;
    z-index: 1500;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .line-top {
    margin-top: 3px;
  }
  .lined {
    position: absolute;
    width: 1.7rem;
    height: 1px;
    background-color: white;
    transition: margin-top 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  }

  .lined-port {
    background: black;
  }
  .line-bottom {
    margin-top: -0.4rem;
  }

  .active .line-top {
    margin-top: 0;
    transform: rotate(45deg);
    transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  }
  .active .line-bottom {
    margin-top: 0;
    transform: rotate(-45deg);
    transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  }

  header.active {
    height: 100%;
    background-color: black;
  }

  .p-header.active {
    background-color: rgb(255, 255, 0);
  }

  .nav-list-larger {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    padding: 10.5rem 5rem;
    z-index: 1000;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
  }

  .active .nav-list-larger {
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible;
  }

  .nav-list-larger .nav-item {
    width: 100%;
    justify-content: flex-start;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }

  .hero {
    height: 170rem;
  }

  .hero-one {
    height: 50rem;
  }

  .hero-two {
    padding-top: 4.4rem;
  }

  .container,
  .second-container {
    padding: 0;
  }

  .home-words {
    width: 90%;
    margin: 0 auto;
  }
  .text {
    margin-top: 2.2rem;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 2.2rem;
  }
  .soul {
    display: flex;
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
  }

  .what-you-want,
  .what-you-need {
    display: flex;
    flex-direction: column;
    margin-top: 2.2rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .first-animation {
    display: flex;
    width: 100%;
  }

  .small-round-avatar {
    display: none;
  }

  .menu-avatar {
    display: flex;
    margin-top: 5.5rem;
    height: 100px;
    width: 100px;
  }

  .dots {
    margin-top: 9.2rem;
    width: 70%;
  }

  .whiteboard {
    font-size: 3.2rem;
    color: rgb(124, 78, 37);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn;
    animation-duration: 10s;
    --animate-repeat: 3;
  }

  .icon-frame {
    margin-top: 7.2rem;
    margin-left: 1.2rem;
    padding: 2.1rem;
    margin-left: 0.2rem;
    background: rgb(238, 239, 240);
    border-radius: 50%;
    width: 7.2rem;
    height: 7.2rem;
  }

  .right-text,
  .left-text {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }

  .what-i-can-do {
    padding-top: 3.2rem;
  }

  .menu-top-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.2rem;
    padding-top: 3.2rem;
    text-align: center;
  }

  .what-you-need {
    display: none;
  }

  .what-you-need-menu {
    display: flex;
    flex-direction: row;
    padding-top: 3.2rem;
  }
  .skills-innerbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 4.4rem;
    font-size: 5.4rem;
  }

  .skills-icon {
    padding-left: 4.2rem;
  }

  .skills-icon:nth-child(1) {
    padding: 0;
  }
  .skills-icon:nth-child(5) {
    padding: 2.2rem;
  }

  .note {
    padding: 0;
    width: 70%;
    padding-top: 3.4rem;
  }
  .note-title {
    padding: 3.4rem 0 0 0;
  }

  .soul-two-menu {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .top-text {
    margin: 2.4rem 0 0 0;
  }

  .contact {
    height: 50rem;
  }

  /* Portfolio page responsiveness  */

  .home-portfolio {
    background: rgb(255, 255, 0);
  }

  .portfolio-headline {
    font-size: 3.2rem;
  }

  .some-work-text {
    width: 70%;
  }

  .project {
    height: 110rem;
  }

  .portfolio {
    height: 75rem;
  }

  .others {
    height: 150rem;
  }

  .first-image,
  .frame,
  .rosa-frame,
  .budget-frame {
    display: none;
  }

  .apple-small,
  .rosa-small,
  .budget-small,
  .small-banger {
    display: flex;
    border-radius: 2.2px;
  }

  .apple-small-div,
  .rosa-small-div,
  .budget-small-div,
  .small-banger-div {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .small-banger-div {
    flex-direction: column;
    padding-top: 3.2rem;
  }

  .text-description {
    width: 85%;
  }

  .budget-headline {
    padding-top: 4.4rem;
  }
  .budget-description {
    margin-top: 1.2rem;
  }

  .box1,
  .box2 {
    display: none;
  }
}
